@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    background-color: #FFF5ED;
    color: #333;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    color: #3b32bd;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #293242;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
    background-color: #C0E4F6;
}

.header {
    background-color: #164fa5;
    padding: 20px;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 58px;
}

.header p {
    font-size: 28px;
}

.year-info {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.year-card {
    background-image: url('resources/1year.jpg'); 
    background-size: cover;
    background-position: center; 
    border: 2px solid #005f73;
    border-radius: 10px;
    padding: 20px;
    width: 95%; 
    height: 500px;
    margin: 0 auto; 
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    color: white;
    position: relative;
}

.year-card::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 10px; 
    z-index: 1; 
}

.year-card h2, .year-card p {
    position: relative; 
    z-index: 2; 
}

.year-card h2 {
    font-size: 46px;
    margin-bottom: 10px;
}

.year-card p {
    font-size: 26px; 
    padding: 10px; 
    border-radius: 5px;
    text-align: center;
}

.sophomore-card {
    background-image: url('resources/2year.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid #005f73; 
    border-radius: 10px;
    padding: 20px;
    width: 95%; 
    height: 500px;
    margin: 0 auto; 
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    color: white;
    position: relative;
}

.sophomore-card::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 10px; 
    z-index: 1; 
}

.sophomore-card h2, .sophomore-card p {
    position: relative; 
    z-index: 2; 
}

.sophomore-card h2 {
    font-size: 46px;
    margin-bottom: 10px;
}

.sophomore-card p {
    font-size: 26px; 
    padding: 10px; 
    border-radius: 5px;
    text-align: center;
}

.junior-card {
    background-image: url('resources/3year.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid #005f73;
    border-radius: 10px;
    padding: 20px;
    width: 95%; 
    height: 500px;
    margin: 0 auto; 
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    color: white;
    position: relative;
}

.junior-card::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 10px; 
    z-index: 1; 
}

.junior-card h2, .junior-card p {
    position: relative; 
    z-index: 2; 
}

.junior-card h2 {
    font-size: 46px;
    margin-bottom: 10px;
}

.junior-card p {
    font-size: 26px; 
    padding: 10px; 
    border-radius: 5px;
    text-align: center;
}

.senior-card {
    background-image: url('resources/4year.jpg'); 
    background-size: cover;
    background-position: center;
    border: 2px solid #005f73; 
    border-radius: 10px;
    padding: 20px;
    width: 95%; 
    height: 500px;
    margin: 0 auto; 
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    color: white;
    position: relative;
}

.senior-card::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 10px; 
    z-index: 1; 
}

.senior-card h2, .senior-card p {
    position: relative; 
    z-index: 2; 
}

.senior-card h2 {
    font-size: 46px;
    margin-bottom: 10px;
}

.senior-card p {
    font-size: 26px; 
    padding: 10px; 
    border-radius: 5px;
    text-align: center;
}