@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF5ED;
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #164fa5;
    padding: 20px;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 58px;
}

.header p {
    font-size: 28px;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    color: #3b32bd;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #293242;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
    background-color: #C0E4F6;
}


.future-vision {
    background-image: url('resources/bg future.png'); 
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
}

.overlay-text h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.overlay-text p {
    font-size: 20px;
    line-height: 1.5;
}

